{% extends 'base.html' %}
{% load static %}
{% block css %}{% endblock %}

{% block content %}
    <div class="d-flex flex-row bd-highlight mb-3">
        {% include 'pack/pack_navigator.html' %}
        <div class="p-2 bd-highlight col-sm-11">
            <div class="card text-black border-secondary mb-3" style="max-width: 100rem;">
                <strong class="card-header" style="background-color:#d0c8c8;">{{ result.pack.title }}</strong>
                <div class="card-body">
                    <div class="fumen-details-content">
                        <h4>{{ result.pack.comment }}</h4>
                        <p class="card-text" style="font-size:16px;"><strong>创建时间 / Create time:&nbsp&nbsp&nbsp&nbsp</strong>{{ result.pack.createtime }}</p>
                        {% for fumen in result.pack.fumens %}
                            {% include 'fumen/fumen_card.html' %}
                        {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="card text-black border-info mb-3" style="max-width: 100rem;">
                <div class="card-header" style="background-color:#d0c8c8;"><strong>评论信息 / Comments</strong></div>
                <div class="card-body">
                    {% if result.pack_comments %}
                        {% for comment in result.pack_comments %}
                            <div class="card text-black border-secondary mb-3" style="max-width: 100rem; margin-top: auto;">
                                <div class="card-header" style="font-size:14px;"><strong>评论人: </strong>{{ comment.accountname }}&nbsp&nbsp<strong>评论时间: </strong>{{ comment.createtime }}</div>
                                <div class="card-body">
                                    {% if request.session.user_name == comment.accountname or request.session.user_access_level >= 3 %}
                                    <textarea class="form-control" type="text" name="comment" style="font-size:14px;">{{ comment.comment }}</textarea>
                                    <p class="pack_id" style="font-size:14px;display:none">{{ result.pack.packid }}</p>
                                    <p class="comment_id" style="font-size:14px;display:none">{{ comment.id }}</p>
                                    <button class="btn btn-outline-success update_pack_comment" type="button" style="font-size:14px;">修改</button>
                                    <button class="btn btn-outline-success delete_pack_comment" type="button" style="font-size:14px;">删除</button>
                                    {% else %}
                                    <p class="card-text">{{ comment.comment }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="card-text"><small style="font-size:16px;">无评论 / No comment</small></p>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="card text-black mb-3" style="max-width: 100rem; margin-top: auto; background-color: bisque;border-color:bisque;">
                        <div class="card-body">
                            <textarea class="form-control" name="comment" id="comment" placeholder="输入评论 / Input comment"></textarea>
                            <p class="pack_id" style="font-size:14px;display:none">{{ result.pack.packid }}</p>
                            <button class="btn btn-outline-success create_pack_comment" type="button">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(".create_pack_comment").click(function() {
		    console.log("click on btn_create_pack_comment");
		    const parentNode = $(this).parent();
            const comment = parentNode.children("textarea").val();
            const pack_id = parentNode.find(".pack_id").html();
            const url = "/pack/create_pack_comment?"+"pack_id="+pack_id+"&comment="+comment;
            $.get(url, function ( data ) {
                if (!data.result) {
                    alert("新增评论失败!")
                } else {
                    location.reload();
                }
            });
        });

        $(".update_pack_comment").click(function() {
		    console.log("click on btn_update_pack_comment");
		    const parentNode = $(this).parent();
            const comment = parentNode.children("textarea").val();
            const comment_id = parentNode.find(".comment_id").html();
            const pack_id = parentNode.find(".pack_id").html();
            const url = "/pack/update_pack_comment?"+"pack_id="+pack_id+"&comment_id="+comment_id+"&comment="+comment;
            $.get(url, function ( data ) {
                if (!data.result) {
                    alert("修改评论失败!")
                } else {
                    location.reload();
                }
            });
        });

        $(".delete_pack_comment").click(function() {
		    console.log("click on btn_delete_pack_comment");
		    const parentNode = $(this).parent();
            const comment_id = parentNode.find(".comment_id").html();
            const pack_id = parentNode.find(".pack_id").html();
            const url = "/pack/delete_pack_comment?"+"pack_id="+pack_id+"&comment_id="+comment_id;
            $.get(url, function ( data ) {
                if (!data.result) {
                    alert("删除评论失败!")
                } else {
                    location.reload();
                }
            });
        });
    </script>
{% endblock %}