{% extends 'base.html' %}
{% load static %}
{% block css %}{% endblock %}

{% block content %}
    <div class="d-flex flex-row bd-highlight mb-3">
        {% include 'pack/pack_navigator.html' %}
        <div class="p-2 bd-highlight col-sm-12">
            <div class="card text-black border-secondary mb-3" style="max-width: 100rem;">
                <strong class="card-header">{{ data.pack.title }}</strong>
                <div class="card-body">
                    <div class="fumen-details-content">
                        <h4>{{ data.pack.comment }}</h4>
                        <p class="card-text"><strong>创建时间:&nbsp&nbsp&nbsp&nbsp</strong>{{ data.pack.createtime }}</p>
                        {% for fumen in data.fumens %}
                            {% include 'fumen/fumen_card.html' %}
                        {% endfor %}
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="card text-black border-info mb-3" style="max-width: 100rem;">
                <div class="card-header"><strong>评论信息</strong></div>
                    <div class="card-body">
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="card text-black border-secondary mb-3" style="max-width: 100rem;">
                                    <div class="card-header"><strong>评论人: </strong>{{ comment.accountname }}&nbsp&nbsp<strong>评论时间: </strong>{{ comment.createtime }}</div>
                                    <div class="card-body">
                                        <p class="card-text">{{ comment.comment }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h5 class="card-title">无评论</h5>
                        {% endif %}
                    </div>
                <div class="card-body">
                    <div class="card text-black border-info mb-3" style="max-width: 100rem;">
                        <div class="card-header"><strong>新增评论</strong></div>
                        <div class="card-body">
                            <form class="form-inline my-12 my-lg-0" action="/pack/comment_on_pack" method="get">
                                <input class="form-control mr-sm-10 col-sm-10" name="comment" placeholder="输入评论">
                                <div>&nbsp&nbsp&nbsp&nbsp</div>
                                <input class="form-control mr-sm-10 col-sm-1" type="number" name="pack_id" value={{ data.pack.packid }}  readonly>
                                <div>&nbsp&nbsp&nbsp&nbsp</div>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">提交</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}