<div class="card mb-4" style="max-width: 100rem; height: 240px;">
    <div class="row no-gutters">
        <div class="col-md-3" style="max-width:240px;height:240px;">
            {% if pack.category == 0 %}
                <a href="/pack/pack_detail?pack_id={{ pack.pack.packid }}&category={{ pack.category }}"><img src="https://chilundui.com/data/rbdx/image/pack/{{ pack.packid }}.png" class="card-img" alt="{{ pack.title }}"></a>
            {% else %}
                <a href="/pack/pack_detail?pack_id={{ pack.pack.packid }}&category={{ pack.category }}"><img src="" class="card-img" alt="{{ pack.title }}"></a>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="d-flex flex-row bd-highlight mb-8" id="fumen-info">
                <div class="card-body">
                    <a href="/pack/pack_detail?pack_id={{ pack.packid }}&category={{ pack.category }}"><h4 class="card-title" style="color: #5f2525;">{{ pack.title }}</h4></a>
                    {% for fumen in pack.fumens %}
                        <a href="/fumen/fumen_detail/?fumen_id={{ fumen.songid }}"><p class="col-md-5" style="color: #6e2b2b; display: inline;">{{ fumen.title }}</p></a>
                        <br>
                    {% endfor %}
                    <p class="card-text my-3"><small class="text-muted">{{ pack.createtime }}</small></p>
                </div>
            </div>
        </div>
    </div>
  </div>