<div class="p-2 bd-highlight" style="width:auto;height:auto;">
    <ul class="nav flex-column nav-pills">
        {% if request.session.user_access_level >= 1 %}
            {% if name == 'inner_home' %}
                <li class="nav-item">
                    <a class="nav-link active" href="/inner/home">首页</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/inner/home">首页</a>
                </li>
            {% endif %}
            {% if name == 'subdiff_vote' %}
                <li class="nav-item">
                    <a class="nav-link active" href="/inner/subdiff_votes">等级投票</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/inner/subdiff_votes">等级投票</a>
                </li>
            {% endif %}
            {% if name == 'advice_fumens' %}
                <li class="nav-item">
                    <a class="nav-link active" href="/inner/advice_fumens">审核谱面</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/inner/advice_fumens">审核谱面</a>
                </li>
            {% endif %}
            {% if name == 'plan_packs' %}
                <li class="nav-item">
                    <a class="nav-link active" href="/inner/plan_packs">查看排包</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/inner/plan_packs">查看排包</a>
                </li>
            {% endif %}
            {% if request.session.user_access_level >= 3 %}
                {% if name == 'super_manager' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/inner/super_manager">超级管理员</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/inner/super_manager">超级管理员</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endif %}
    </ul>
</div>