{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-row bd-highlight mb-3">
        {% include 'fumen/fumen_navigator.html' %}
        <div class="p-2 bd-highlight col-sm-11">
            <div class="d-flex flex-row bd-highlight mb-3" id="fumens-navigator">
                {% if name == 'fumens' %}
                <form class="form-inline my-2 my-lg-0" action="/fumen/fumens" method="get">
                {% elif name == 'unlocked_fumens' %}
                <form class="form-inline my-2 my-lg-0" action="/fumen/unlocked_fumens" method="get">
                {% elif name == 'own_fumens' %}
                <form class="form-inline my-2 my-lg-0" action="/fumen/own_fumens" method="get">
                {% endif %}
                    {% include 'pagination.html' %}
                    <div class="mr-sm-4" id="fumen-navigator-space"></div>
                    {% if result.get_fumens_params.keyword == '' %}
                        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="输入关键词" aria-label="Search">
                    {% else %}
                        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="输入关键词" aria-label="Search" value={{ result.get_fumens_params.keyword }}>
                    {% endif %}
                    {% if result.get_fumens_params.fumen_creator == '' %}
                        <input class="form-control mr-sm-2" name="fumen_creator" type="search" placeholder="输入做谱人" aria-label="Search">
                    {% else %}
                        <input class="form-control mr-sm-2" name="fumen_creator" type="search" placeholder="输入做谱人" aria-label="Search" value={{ result.get_fumens_params.fumen_creator }}>
                    {% endif %}
                    <select class="form-control mr-sm-1" name="fumen_level">
                        {% if result.get_fumens_params.fumen_level == 0 %}
                            <option value=0 selected>等级</option>
                        {% else %}
                            <option value=0>等级</option>
                        {% endif %}
                        {% if result.get_fumens_params.fumen_level == 8 %}
                            <option value=8 selected><=8</option>
                        {% else %}
                            <option value=8><=8</option>
                        {% endif %}
                        {% if result.get_fumens_params.fumen_level == 9 %}
                            <option value=9 selected>9</option>
                        {% else %}
                            <option value=9>9</option>
                        {% endif %}
                        {% if result.get_fumens_params.fumen_level == 10 %}
                            <option value=10 selected>10</option>
                        {% else %}
                            <option value=10>10</option>
                        {% endif %}
                        {% if result.get_fumens_params.fumen_level == 11 %}
                            <option value=11 selected>11</option>
                        {% else %}
                            <option value=11>11</option>
                        {% endif %}
                        {% if result.get_fumens_params.fumen_level == 12 %}
                            <option value=12 selected>12</option>
                        {% else %}
                            <option value=12>12</option>
                        {% endif %}
                        {% if result.get_fumens_params.fumen_level == 13 %}
                            <option value=13 selected>>=13</option>
                        {% else %}
                            <option value=13>>=13</option>
                        {% endif %}
                    </select>
                    {% if request.session.user_access_level >= 1 %}
                        <select class="form-control mr-sm-1" name="category">
                            {% if result.get_fumens_params.category == 0 %}
                                <option value=0 selected>已发布</option>
                            {% else %}
                                <option value=0>已发布</option>
                            {% endif %}
                            {% if result.get_fumens_params.category == 1 %}
                                <option value=1 selected>审核中</option>
                            {% else %}
                                <option value=1>审核中</option>
                            {% endif %}
                            {% if result.get_fumens_params.category == 2 %}
                                <option value=2 selected>官谱</option>
                            {% else %}
                                <option value=2>官谱</option>
                            {% endif %}
                            {% if result.get_fumens_params.category == 3 %}
                                <option value=3 selected>内测</option>
                            {% else %}
                                <option value=3>内测</option>
                            {% endif %}
                        </select>
                    {% endif %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
            <div class="p-2 bd-highlight" id="table-wrapper">
                {% for fumen in result.fumens %}
                    {% include 'fumen/fumen_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}