<div class="p-2 bd-highlight" style="width:auto;height:auto;">
    <ul class="nav flex-column nav-pills">
        {% if name == 'fumens' %}
        <li class="nav-item">
            <a class="nav-link active" href="/fumen/fumens">谱面一览</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/fumen/fumens">谱面一览</a>
        </li>
        {% endif %}
        {% if name == 'unlocked_fumens' %}
        <li class="nav-item">
            <a class="nav-link active" href="/fumen/unlocked_fumens">已解锁</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/fumen/unlocked_fumens">已解锁</a>
        </li>
    {% endif %}
    {% if request.session.user_access_level >= 1 %}
        {% if name == 'own_fumens' %}
        <li class="nav-item">
            <a class="nav-link active" href="/fumen/own_fumens">我的上传</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/fumen/own_fumens">我的上传</a>
        </li>
        {% endif %}
        {% if name == 'upload_fumen' %}
        <li class="nav-item">
            <a class="nav-link active disabled" href="https://chilundui.com/manage/upload/rb">上传.rb文件</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link disabled" href="https://chilundui.com/manage/upload/rb">上传.rb文件</a>
        </li>
        {% endif %}
        {% if name == 'add_fumen' %}
        <li class="nav-item">
            <a class="nav-link active disabled" href="https://www.chilundui.com/manage/song">添加谱面</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link disabled" href="https://www.chilundui.com/manage/song">添加谱面</a>
        </li>
        {% endif %}
    {% endif %}
    </ul>
</div>