{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/fumen.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-row bd-highlight mb-3">
        {% include 'fumen/fumen_navigator.html' %}
        <div class="p-2 bd-highlight col-sm-12">
            <div class="d-flex flex-row bd-highlight mb-3" id="fumens-navigator">
                <form class="form-inline my-2 my-lg-0" action="/fumen/" method="get">
                    {% include 'pagination.html' %}
                    <div class="mr-sm-4" id="fumen-navigator-space"></div>
                    {% if keyword == '' %}
                        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="输入关键词" aria-label="Search">
                    {% else %}
                        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="输入关键词" aria-label="Search" value={{ keyword }}>
                    {% endif %}
                    {% if fumen_creator == '' %}
                        <input class="form-control mr-sm-2" name="fumen_creator" type="search" placeholder="输入做谱人" aria-label="Search">
                    {% else %}
                        <input class="form-control mr-sm-2" name="fumen_creator" type="search" placeholder="输入做谱人" aria-label="Search" value={{ fumen_creator }}>
                    {% endif %}
                    <select class="form-control mr-sm-1" name="level">
                        {% if level == 0 %}
                            <option value=0 selected>等级</option>
                        {% else %}
                            <option value=0>等级</option>
                        {% endif %}
                        {% if level == 9 %}
                            <option value=9 selected>9</option>
                        {% else %}
                            <option value=9>9</option>
                        {% endif %}
                        {% if level == 10 %}
                            <option value=10 selected>10</option>
                        {% else %}
                            <option value=10>10</option>
                        {% endif %}
                        {% if level == 11 %}
                            <option value=11 selected>11</option>
                        {% else %}
                            <option value=11>11</option>
                        {% endif %}
                        {% if level == 12 %}
                            <option value=12 selected>12</option>
                        {% else %}
                            <option value=12>12</option>
                        {% endif %}
                        {% if level == 13 %}
                            <option value=13 selected>>=13</option>
                        {% else %}
                            <option value=13>>=13</option>
                        {% endif %}
                    </select>
                    {% if request.session.user_access_level >= 1 %}
                        <select class="form-control mr-sm-1" name="category">
                            {% if category == '0' %}
                                <option value=0 selected>已发布</option>
                            {% else %}
                                <option value=0>已发布</option>
                            {% endif %}
                            {% if category == '1' %}
                                <option value=1 selected>审核中</option>
                            {% else %}
                                <option value=1>审核中</option>
                            {% endif %}
                            {% if category == '2' %}
                                <option value=2 selected>官谱</option>
                            {% else %}
                                <option value=2>官谱</option>
                            {% endif %}
                            {% if category == '3' %}
                                <option value=3 selected>内测</option>
                            {% else %}
                                <option value=3>内测</option>
                            {% endif %}
                        </select>
                    {% endif %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
            <div class="p-2 bd-highlight col-sm-12" id="table-wrapper">
                <table class="ui table selectable striped compact fixed very basic multi-items">
                    <thead class="full-width">
                        <tr class="centered aligned">
                            <th width="25%">基本信息</th>
                            <th width="25%">难度信息</th>
                            <th width="25%">其他信息</th>
                            <th width="25%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fumen in data %}
                            <tr class="centered aligned">
                                <td class="top aligned">
                                    <div class="item">
                                        <strong>ID&nbsp</strong>
                                        <a href="/fumen/fumen_detail?fumen_id={{ fumen.songid }}">{{ fumen.songid }}</a>
                                    <div class="item">
                                        <strong>曲名&nbsp</strong>
                                        <a href="/fumen/fumen_detail?fumen_id={{ fumen.songid }}">{{ fumen.title }}</a>
                                    </div>
                                    <div class="item">
                                        <strong>作者&nbsp</strong>
                                        <a href="/fumen?keyword={{ fumen.artist }}">{{ fumen.artist }}</a>
                                    </div>
                                </td>
                                <td class="top aligned">
                                    <div class="item">
                                        <strong>BASIC&nbsp</strong>
                                        <a href="/fumen?level={{ fumen.diffb }}">{{ fumen.diffb }}</a>
                                    </div>
                                    <div class="item">
                                        <strong>MEDIUM&nbsp</strong>
                                        <a href="/fumen?level={{ fumen.diffm }}">{{ fumen.diffm }}</a>
                                    </div>
                                    <div class="item">
                                        <strong>HARD&nbsp</strong>
                                        <a href="/fumen?level={{ fumen.diffh }}">{{ fumen.diffh }}</a>
                                    </div>
                                    {% if fumen.diffsp != '-' %}
                                        <div class="item">
                                            <strong>SPECIAL&nbsp</strong>
                                                <span>{{ fumen.diffsp }}</span>
                                                <a href="/fumen?level={{ fumen.diffsp }}">{{ fumen.diffsp }}</a>
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="top aligned">
                                    <div class="item">
                                        <strong>谱作者&nbsp</strong>
                                        <a href="/fumen?fumen_creator={{ fumen.chartauthor }}">{{ fumen.chartauthor }}</a>
                                    </div>
                                    <div class="item">
                                        <span><strong>上传者&nbsp</strong>{{ fumen.creator }}</span>
                                    </div>
                                    <div class="item">
                                        <span><strong>创建时间&nbsp</strong>{{ fumen.createtime }}</span>
                                    </div>
                                    <div class="item">
                                        <strong>曲包ID&nbsp</strong>
                                        <a href="#">{{ fumen.packid }}</a>
                                    </div>
                                </td>
                                <td class="top aligned">
                                    <div class="item">
                                        <a href="#">下载</a>
                                    </div>
                                    <div class="item">
                                        <a href="#">点赞</a>
                                    </div>
                                    <div class="item">
                                        <a href="#">收藏</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}