{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/fumen.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-row bd-highlight mb-3">
        {% include 'fumen/fumen_navigator.html' %}
        <div class="p-2 bd-highlight col-sm-11">
            <div class="d-flex flex-row bd-highlight mb-3" id="fumens-navigator">
                <form class="form-inline my-2 my-lg-0" action="/fumen/unlocked_fumen/" method="get">
                    {% include 'pagination.html' %}
                    <div class="mr-sm-4" id="fumen-navigator-space"></div>
                    {% if keyword == '' %}
                        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="输入关键词" aria-label="Search">
                    {% else %}
                        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="输入关键词" aria-label="Search" value={{ keyword }}>
                    {% endif %}
                    {% if fumen_creator == '' %}
                        <input class="form-control mr-sm-2" name="fumen_creator" type="search" placeholder="输入做谱人" aria-label="Search">
                    {% else %}
                        <input class="form-control mr-sm-2" name="fumen_creator" type="search" placeholder="输入做谱人" aria-label="Search" value={{ fumen_creator }}>
                    {% endif %}
                    <select class="form-control mr-sm-1" name="level">
                        {% if level == 0 %}
                            <option value=0 selected>等级</option>
                        {% else %}
                            <option value=0>等级</option>
                        {% endif %}
                        {% if level == 9 %}
                            <option value=9 selected>9</option>
                        {% else %}
                            <option value=9>9</option>
                        {% endif %}
                        {% if level == 10 %}
                            <option value=10 selected>10</option>
                        {% else %}
                            <option value=10>10</option>
                        {% endif %}
                        {% if level == 11 %}
                            <option value=11 selected>11</option>
                        {% else %}
                            <option value=11>11</option>
                        {% endif %}
                        {% if level == 12 %}
                            <option value=12 selected>12</option>
                        {% else %}
                            <option value=12>12</option>
                        {% endif %}
                        {% if level == 13 %}
                            <option value=13 selected>>=13</option>
                        {% else %}
                            <option value=13>>=13</option>
                        {% endif %}
                    </select>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
            <div class="p-2 bd-highlight col-sm-12" id="table-wrapper">
                {% for fumen in data %}
                    {% include 'fumen/fumen_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}