{% extends 'base.html' %}
{% load static %}
{% block css %}{% endblock %}

{% block content %}
    <div class="d-flex flex-row bd-highlight mb-3">
        {% include 'user/user_navigator.html' %}
        <div class="p-2 bd-highlight col-sm-11">
            <div class="card-body">
                <form class="form-inline my-12 my-lg-0" action="/user/user_detail" method="get">
                    <input class="form-control mr-sm-10 col-sm-10" name="user_name" placeholder="输入用户名 / Input user name"></input>
                    <div>&nbsp&nbsp&nbsp&nbsp</div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}