{% extends 'base.html' %}
{% load static %}
{% block css %}{% endblock %}

{% block content %}
    <div class="d-flex flex-row bd-highlight mb-3">
        {% include 'user/user_navigator.html' %}
        <div class="p-2 bd-highlight col-sm-11">
            <form class="my-12 my-lg-0" action="/user/set_user_info" method="get">
                <h5><strong>设置个性签名</strong></h5>
                <input class="form-control mr-sm-10 col-sm-10" type="text" name="signature" placeholder="输入用户账号" value="{{ user.signature }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">设置</button>
            </form>
        </div>
    </div>
{% endblock %}