{% extends 'base.html' %}
{% load static %}
{% block css %}{% endblock %}

{% block content %}
    <div class="d-flex flex-row bd-highlight mb-3">
        {% include 'user/user_navigator.html' %}
        <div class="p-2 bd-highlight col-sm-11">
            <div class="card-body">
                <div class="avatar-content">
                    <div class="d-flex row flex-wrap">
                        {% for avatar_id in result.avatar_ids %}
                        <div class="col-md-1" style="float:left;">
                            <a href="/user/set_avatar?avatar_id={{ avatar_id }}"><img src="https://chilundui.com/data/rbdx/image/song/{{ avatar_id }}.png" style="max-width:150px;height:150px;"></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}