{% extends 'base.html' %}
{% load static %}
{% block css %}{% endblock %}

{% block content %}
    <div class="d-flex flex-row bd-highlight mb-3">
        {% include 'user/user_navigator.html' %}
        <div class="p-2 bd-highlight col-sm-11">
            <div class="card-body">
                <div class="avatar-content">
                    <div class="d-flex row flex-wrap">
                        {% for avatar_id in result.avatar_ids %}
                        <div class="col-md-1" style="float:left;">
                            <a href="/user/set_avatar?avatar_id={{ avatar_id }}"><img src="https://chilundui.com/data/rbdx/image/song/{{ avatar_id }}.png" style="max-width:150px;height:150px;"></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function throttle(fn, delay, atleast) {
            var timeout = null,
            startTime = new Date();
            return function() {
                var curTime = new Date();
                clearTimeout(timeout);
                if(curTime - startTime >= atleast) {
                    fn();
                    startTime = curTime;
                }else {
                    timeout = setTimeout(fn, delay);
                }
	        }
	    }
        function lazyload() {
            var images = document.getElementsByTagName('img');
            var len    = images.length;
            var n      = 0;      //存储图片加载到的位置，避免每次都从第一张图片开始遍历
            return function() {
                var seeHeight = document.documentElement.clientHeight;
                var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                for(var i = n; i < len; i++) {
                    if(images[i].offsetTop < seeHeight + scrollTop) {
                        if(images[i].getAttribute('src') === 'images/loading.gif') {
                            images[i].src = images[i].getAttribute('data-src');
                        }
                        n = n + 1;
                    }
                }
            }
        }
        var loadImages = lazyload();
        loadImages();          //初始化首页的页面图片
        window.addEventListener('scroll', throttle(loadImages, 500, 1000), false);
    </script>
{% endblock %}